/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

/* Global Variables */
:root{
    --sideBGColor: #040b14;
    --themeColor: #00A78E;
    --iconBGColor: #2C2F3F;
    --textColor: #353535;
    --bgColor: #F7F7F7;
}


/* ===   Header Start ==== */
header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background-color: var(--sideBGColor);
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}
header .profile{
    text-align: center;
    margin: 10px 0;
}
header .profile img{
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--iconBGColor);
}
header .profile h1{
    color: white;
    font-weight: 600;
}
header .profile .social-icons a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    line-height: 37px;
    background-color: var(--iconBGColor);
    color: white;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}
header .profile .social-icons a:hover{
    background-color: var(--themeColor);
}

/* NavBar */

header nav{
    margin-top: 30px;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: lightgray;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.6px;
}
header nav ul li a i{
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}
header nav ul li a:hover i{
    color: var(--themeColor);
}
header nav ul li .active i{
    color: var(--themeColor);
}

/* Footer */
header .footer{
    text-align: center;
    background-color: var(--sideBGColor);
    width: 300px;
    color: lightgray;
    font-size: 14px;
    letter-spacing: 0.6px;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: 0.4s;
}
header .footer p a{
    color: var(--themeColor);
}

/* Mobile Nav Toggle */
#MenuBtn{
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: var(--themeColor);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 20%);
    display: none;
    z-index: 999;
}
/* Mobile view */
@media only screen and (max-width: 1050px) {
    header{
        left: -300px;
    }    
    header .footer{
        left: -300px;
    }
    #MenuBtn{
        display: block;
    }
}

/* Header toggle */
.mobile-nav-active header{
    left: 0;
}
.mobile-nav-active header.footer{
    left: 0;
}

/* === MAIN SECTION === */
main{
    margin-left: 300px;
    background-color: var(--bgColor);
    transition: 0.3s;
} 
@media only screen and (max-width: 1050px){
    main{
        margin-left: 0;
    }   
}

/* -- === Home Section === -- */
#home{
    height: 100vh;
    width: 100%;
    background-image: url(./img/banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    position: relative;
}
/* overlay */
#home::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.431);
    position: absolute;
    top: 0;
    left: 0;
}
#home .home-row{
    z-index: 1;
}
#home .home-row a{
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
#home .home-row a:hover{
    color: var(--themeColor);
}
#home .home-row h1{
    font-size: 60px;
    color: white;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
}
#home .home-row h1 span{
    color: var(--themeColor);
}
#home .home-row p{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 500;
}
#home .home-row p span{
    border-bottom: 4px solid var(--themeColor);
}

/* Mobile View */
@media only screen and (max-width: 1050px){
    #home{
        padding: 30px;
    }
    #home .home-row h1{
        font-size: 35px;
        letter-spacing: 0px;
        line-height: 50px;
    }
    #home .home-row h1 br{
        display: none;
    }
    #home .home-row p{
        color: whitesmoke;
        font-size: 20px;
        font-weight: 400;
    }
}


/* ==== About Section ==== */
#about{
    padding: 70px 30px;
}
/* Global Heading */
.sub-heading{
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}
.divider{
    width: 80px;
    height: 4px;
    background-color: var(--themeColor);
    border-radius: 3px;
}
#about .divider ~ p{
    color: var(--textColor);
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin-top: 15px;
}

#about .about-col{
    display: flex;
    gap: 20px;
    margin-top: 25px;
}
#about .about-col .img-col{
    flex-basis: 35%;
    text-align: center;
}
#about .about-col .img-col img{
    width: 100%;
}

#aboout .about-col .info-col{
    flex-basis: 70%;

}
#about .about-col .info-col h2{
    color: var(--themeColor);
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.5px;
    margin-top: -10px;
}
#about .about-col .info-col p{
    color: var(--textColor);
    font-size: 15px;
    letter-spacing: 0.5px;
    font-style: italic;
}
#about .about-col .info-col .icon-list-col{
    display: flex;
    margin-top: 20px;
    gap: 40px;
}
#about .about-col .info-col .icon-list-col .icon-list ul li{
    list-style: none;
    margin: 15px 0;
}
#about .about-col .info-col .icon-list-col .icon-list ul li i{
    color: var(--themeColor);
}
#about .about-col .info-col .icon-list-col .icon-list ul li strong{
    color: var(--sideBGColor);
    font-weight: 600;
    margin-right: 2px;
}
#about .about-col .info-col .icon-list-col .icon-list ul li span{
    color: var(--textColor);
    font-weight: 500;
    font-size: 15px;
}

/* Mobile View */
@media only screen and (max-width: 830px){
    #about{
        padding: 50px 10px;
    }
    #about .divider ~ p{
        font-size: 14px;
        letter-spacing: 0px;
        text-align: justify;
    }
    #about .about-col{
        flex-direction: column;
    }
    #about .about-col .img-col{
        width: 50%;
    }
    #about .about-col .img-col h2{
        font-weight: 600;
        font-size: 35px;
        letter-spacing: 0px;
    }
    #about .about-col .info-col{
        font-size: 14px;
        letter-spacing: 0px;
    }
    #about .about-col .info-col .icon-list-col{
        flex-direction: column;
        gap: 0;
    }
    #about .about-col .info-col .icon-list-col ul li{
        margin: 10px 0;   
    }
    #about .about-col .info-col .icon-list-col ul li strong{
        font-weight: 400;
        margin-right: 0px;
    }
    #about .about-col .info-col .icon-list-col ul li span{
        font-weight: 400;
        font-size: 13px;
    }
}

@media only screen and (max-width: 400px){
    #about .about-col .img-col{
        width: 90%;
    }
}

/* ==== Skills Section ==== */
#skill{
    padding: 70px 30px;
}
#skill .sub-para{
    margin-top: 15px;
}
#skill .skill-row{
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
#skill .skill-row .skill-box .skill-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}
#skill .skill-row .skill-box .skill-info h2{
    color: var(--sideBGColor);
    font-weight: 600;
    font-size: 15px;
    font-style: italic;
}
#skill .skill-row .skill-box .skill-outter-line{
    width: 100%;
    height: 10px;
    background-color: lightgray;
    border-radius: 15px;
}
#skill .skill-row .skill-box .skill-outter-line .skill-inner-line{
    height: 10px;
    background-color: var(--themeColor);
    border-radius: 20px;
}

/* ===== Tools Section ===== */
#tool{
    padding: 50px 30px;
}
#tool .tool-list{
    display: flex;
    margin-top: 20px;
    gap: 40px;
}
#tool .tool-list ul li{
    list-style: none;
    margin: 15px 0;
}
#tool .tool-list ul li i{
    color: var(--themeColor);
}
#tool .tool-list ul li strong{
    color: var(--sideBGColor);
    font-weight: 600;
    margin-right: 2px;
}

/* Mobile View */
@media only screen and (max-width: 450p){
    #skill{
        padding: 50px 15px;
    }
    #skill .skill-row{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}

/* ======== Portfolio Section ========= */
#portfolio{
    padding: 70px 30px;
}
#portfolio .sub-para{
    margin-top: 15px;
}
#portfolio .port-row{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 35px;
}
#portfolio .port-row .port-item{
    position: relative;
    border-radius: 10px;
    overflow: hidden; 
}
#portfolio .port-row .port-item .port-img img{
    width: 100%;
    border-radius: 10px;
}
#portfolio .port-row .port-item .port-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--themeColor);
    padding: 0 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: scale(0);
    transition: 0.4s;
    border-radius: 10px;
    visibility: hidden;
}
#portfolio .port-row .port-item:hover .port-info{
    transform: scale(1);
    visibility: visible;
}
#portfolio .port-row .port-item .port-info h4{
    color: var(--bgColor);
    font-size: 25px;
    font-weight: 600;
}
#portfolio .port-row .port-item .port-info h4 + p{
    color: var(--bgColor);
    font-size: 14px;
}
#portfolio .port-row .port-item .port-info a{
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 45px;
    height: 45px;
    background-color: var(--bgColor);
    border-radius: 50%;
    color: var(--themeColor);
    line-height: 46px;
    transition: 0.4s;
}
#portfolio .port-row .port-item .port-info a:hover{
    background-color: var(--sideBGColor);
    color: var(--bgColor);
}

/* Mobile View */
@media only screen and (max-width: 650px){
    #portfolio{
        padding: 50px 10px;
    }
    #portfolio .port-row{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}
@media only screen and (max-width: 350px){
    #porfolio{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }
}

/* ======= Services Section ========= */
#service{
    padding: 70px 30px;
    background-color: white;
}
#service .sub-para{
    margin-top: 15px;
}
#service .service-row{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
#service .service-row .service-box{
    display: flex;
    gap: 20px;
}
#service .service-row .service-box .icon i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--themeColor);
    font-size: 22px;
    line-height: 46px;
    background-color: var(--themeColor);
    color: var(--bgColor);
    transition: 0.7s;
    text-align: center;
}
#service .service-row .service-box:hover .icon i{
    color: var(--themeColor);
    background-color: var(--bgColor);
}
#service .service-row .port-item:hover .port-info{
    transform: scale(1);
    visibility: visible;
}
#service .service-row .service-box .ser-info h4{
    color: var(--sideBGColor);
    font-size: 20px;
    font-weight: 600;
}
#service .service-row .service-box .ser-info h4 + p{
    color: var(--textColor);
    font-size: 14px;
    font-weight: 500;
}
/* Mobile View */
@media only screen and (max-width: 850px){
    #service{
        padding: 50px 15px;
    }
    #service .service-row{
        grid-template-columns: repeat(2, 1fr);
        gap-gap: 15px;
    }
}
@media only screen and (max-width: 850px){
    #service .service-row{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}

/* ===== Contact Section ==== */
#contact{
    padding: 70px 30px;
}
#contact .contact-row{
    width: 100%;
}
#contact .contact-row .contact-left{
    flex-basis: 40%;
    min-width: 40%;
    padding: 30px;
}
#contact .contact-row .contact-left .icon-box{
    display: flex;
    gap: 25px;
    align-items: center;
    margin: 30px 0;
}
#contact .contact-row .contact-left .icon-box .icon i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--themeColor);
    text-align: center;
    line-height: 47px;
    font-size: 20px;
    color: var(--themeColor);
    transition: 0.5s;
}
#contact .contact-row .contact-left .icon-box:hover .icon i{
    background-color: var(--themeColor);
    color: var(--bgColor);
}
#contact .contact-row .contact-left .icon-box .info h4{
    font-size: 20px;
    color: var(--sideBGColor);
    font-weight: 500;
}
